<!DOCTYPE html>
<html>
  <head>
    <title>Have i already seen you ?</title>
    <style>
      body {
        background-color: rgb(0, 0, 0);
        font-family: 'Minecraft';
        text-align: center;
        padding: 50px;
      }

      @font-face {
        font-family: 'Minecraft';
        src: url('{{ font_path }}') format('truetype');
      }
      
      h1 {
        font-size: 48px;
        background: linear-gradient(to bottom, #ffffff 40%, #4d5055 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body>
    <h1>HAVE I ALREADY SEEN YOU ?</h1>
  </body>
</html>